version: 2
jobs:
  test_app:
    docker:
      - image: cirrusci/flutter:latest
    steps:
      - checkout # check out the code in the project directory
      - run: echo "Starting test process" # run the `echo` command
      - run: flutter pub get
      - run: flutter test

  build_app_android:
    docker:
      - image: cirrusci/flutter:latest
    steps:
      - checkout # check out the code in the project directory
      - run: echo "Starting build android process" # run the `echo` command
      - run: flutter pub get
      - run: flutter clean
      - run: flutter build apk --build-number=${CIRCLE_BUILD_NUM}

      - store_artifacts:
          path: build/app/outputs/apk/release/app-release.apk

  upload_app_center:
    executor: android/android-machine
    steps:
      - checkout
      - run:
          name: Enter fastlane
          command: cd android
      - run:
         command: ./gradlew build
      - run:
          name: Install fastlane
          command: bundle install
      - run:
          name: Execute fastlane
          command: bundle exec fastlane upload_appcenter

workflows:
  version: 2
  build_and_test:
    jobs:
      - test_app
      - build_app_android:
          filters:
            branches:
              only: master
          requires:
            - test_app
      - upload_app_center:
          filters:
            branches:
              only: master
          requires:
            - test_app
            - build_app_android