version: 2.1

orbs:
  android: "1.0.3"

jobs:
  test_app:
    docker:
      - image: cirrusci/flutter:latest
    steps:
      - checkout # check out the code in the project directory
      - run: echo "Starting test process" # run the `echo` command
      - run: flutter pub get
      - run: flutter test

  build_app_android:
    docker:
      - image: cirrusci/flutter:latest
    steps:
      - checkout # check out the code in the project directory
      - run: echo "Starting build android process" # run the `echo` command
      - run: flutter pub get
      - run: flutter clean
      - run: flutter build apk --build-number=${CIRCLE_BUILD_NUM}

      - store_artifacts:
          path: build/app/outputs/apk/release/app-release.apk

  upload_app_center:
    macos:
      xcode: "11.3"
    working_directory: /Users/distiller/project
    environment:
      FL_OUTPUT_DIR: output
      FASTLANE_LANE: upload_app_center
    shell: /bin/bash --login -o pipefail
    steps:
      - checkout
      - restore_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
      - run: bundle check || bundle install --path vendor/bundle
      - save_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - run:
          name: fastlane
          command: bundle exec fastlane $FASTLANE_LANE

workflows:
  version: 2
  build_and_test:
    jobs:
      - test_app
      - build_app_android:
          filters:
            branches:
              only: master
          requires:
            - test_app
      - upload_app_center:
          filters:
            branches:
              only: master
          requires:
            - test_app
            - build_app_android